@model TabloidMVC.Models.ViewModels.PostTagViewModel

@{
    ViewData["Title"] = "CreateTags";
}

<h1>CreateTags</h1>

<h4>PostTagViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTags">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            

            <div class="form-group">
                <label asp-for="PostTag.TagIds" class="control-label"></label>
                <select multiple ="multiple" asp-for="PostTag.TagIds" class="form-control">
                    @foreach (var tag in Model.Tags)
                    {
                        <option value="@tag.Id">@tag.Name</option>
                    }
                </select>
                <span asp-validation-for="PostTag.TagIds" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
