@model TabloidMVC.Models.Subscription

@{
    ViewData["Title"] = "Subscribe";
}

<h1>Subscribe</h1>

<h4>Subscription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Subscribe">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
              
                <input asp-for="SubscriberUserProfileId" type="hidden" />
                <span asp-validation-for="SubscriberUserProfileId" class="text-danger"></span>
            </div>
            <div class="form-group">
             
                <input asp-for="ProviderUserProfileId" type="hidden" />
                <span asp-validation-for="ProviderUserProfileId" class="text-danger"></span>
            </div>
            <div class="form-group">
             
                <input asp-for="BeginDateTime" type="hidden" />
                <span asp-validation-for="BeginDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDateTime" class="control-label"></label>
                <input asp-for="EndDateTime" class="form-control" />
                <span asp-validation-for="EndDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
